@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Lexend+Deca&display=swap');

body {
    background-color: hsl(0, 0%, 95%);
}

p {
    font-family: "Lexend Deca";
    font-size: small;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    vertical-align: text-top;
}

span {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Big Shoulders Display";
}
.columns {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1350px) {
    .columns {
        display: flex;
        flex-direction: column;
    }
}


.card-1 {
    background-color: hsl(31, 77%, 52%);
    max-width: 20ch;
    padding: 2em ;
    letter-spacing: 2px;   
}
.card-2 {
    background-color: hsl(184, 100%, 22%);
    max-width: 20ch;
    padding: 2em;
    letter-spacing: 2px;
}
.card-3 {
    background-color: hsl(179, 100%, 13%);
    max-width: 20ch;
    padding: 2em;
    letter-spacing: 2px;
    margin-bottom: 1em;
}
button {
    display: inline-block;
    margin-top: 5em;
    border-radius: 2em;
    border: none;
    padding: 0.8em 2em;
}
.card1-button {
    color: hsl(31, 77%, 52%);
}
.card2-button {
    color: hsl(184, 100%, 22%);
}
.card3-button {
    color: hsl(179, 100%, 13%);
}
